body {
    background-color: lightblue;
  }
  
  h1 {
    color:black;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .skip-to-content-link {
    background-color: lightblue;  
    color: black;
    font-weight: 700;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-100%);
  }

  .skip-to-content-link:focus {
    transform: translateY(0%);
  }

  .grid-container {
    display: grid;
    grid-column: auto auto auto auto;
    align-content: center;
  }

  .item1 { 
      grid-area: Index; 
  }

  .item2 { 
      grid-area: About Me; 
  }
  
  .item3 { 
      grid-area: Experiences; 
  }
  
  .item4 { 
      grid-area: IDK; 
  }